/* .register-form {align-self: center;
} */

body{ 
    padding: 60px 50px;
    margin-top: auto;
    /* margin-bottom: auto; */
    min-width: 600px;
   }
   
   .container{
    background-color: var(--on-surface);
    padding-bottom: 10px;
   }
   .form-group{
    padding-bottom: 5px;
   }
   .errorMessage{
    color: red;
   }
   #login-form{
       width: 400px;
   
   }
   .loginContainer{
       background-color: #e7e7e7;
       padding: 20px;
       padding-right: 0px;
       border-radius: 5px;
       width: 500px;
       
   }

   input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
   .loginContentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100;
    width: 100; */
   }